@import "tailwindcss";

@keyframes splashText {
  0%{
    transform: scale(0.9);
  }
  100%{
    transform: scale(1);
  }
}
@theme inline {
  --animate-splash: splashText ease-in-out 0.5s infinite alternate;
  
  --color-background: #F5F0F6;
  --color-background2: #22AED1;
  --font-sans: var(--font-manrope-sans);
  --font-mono: var(--font-geist-mono);
  --font-raleway-sans: var(--font-raleway-sans);
  
}

@media (prefers-color-scheme: dark){}

body {
  background: var(--color-background);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.navigation-button{
  padding: 2px 2px;
  border-radius: 2px;
  background: linear-gradient(45deg, #22273E, #2E3754);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
          mask-composite: exclude;
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
      mask-composite: exclude;
      background-clip: border-box;
}